@font-face{
	font-family:'Transport';
	src:url('transport.ttf');
}
@font-face{
	font-family:'Transport 2';
	src:url('transport-2.ttf');
}
.sign {
	border:1px solid #000;
	display:inline-block;
	border-radius:6px;
	font-family:Transport;
	text-align:center;
	padding:3px;
	padding-top:0px;
	margin:5px;
	font-size:14px;
	background-color:#FFF;
	box-shadow:1px 2px 2px rgba(0,0,0,0.2);
	position:relative;
}
.sign .sign-section {
	padding:5px;
	border-radius:5px;
	margin-top:3px;
}
.sign .sign-section.directional {
	text-align:left;
}
.sign .symbol {
	background-image:url(signs.png);
	background-repeat:no-repeat;
	display:inline-block;
	width:45px;
	height:45px;
}
.sign .symbol.none {
	background-position:50px;
	line-height:45px;
	font-size:20px;
}
.sign .symbol.motorway {
	background-position:0px 0px;
	width:54px;
}
.sign .symbol.airport {
	background-position:-54px 0px;
}
.sign .symbol.castle {
	background-position:0px -45px;
}
.sign .symbol.zoo {
	background-position:0px -90px;
	width:49px;
}
.sign .symbol.bed {
	background-position:0px -135px;
	width:72px;
}
.sign .symbol.info {
	background-position:0px -180px;
}
.sign .symbol.house {
	background-position:0px -225px;
}
.sign .symbol.historic {
	background-position:0px -270px;
}
.sign .symbol.parking {
	background-position:9px -315px;
}
.sign .symbol.bus {
	background-position:0px -356px;
	width:115px;
}
.sign .title {
	text-transform:uppercase;
}
.sign .distances {
	list-style:none;
	margin:0;
	padding:0;
}
.sign .distances li {
	display:block;
	text-align:left;
}
.sign .distances .dist {
	float:right;
	margin-left:30px;
}
.sign .sign-section.icon-left, .sign .subsign.icon-left {
	padding-left:60px;
	min-height:45px;
}
.sign .sign-section.icon-right, .sign .subsign.icon-right {
	padding-right:60px;
	min-height:45px;
}
.sign .symbol.icon-right {
	margin-right:-57px;
	float:right;
}
.sign .symbol.icon-left {
	margin-left:-57px;
	float:left;
}
.sign .road-name {
	font-family:"Transport 2";
}
.sign.motorway {
	border-color:#037ac2;
}
.sign.motorway .sign-section {
	background-color:#037ac2;
	color:#FFF;
}
.sign.motorway .road-name {
	font-size:18px;
}
.sign.primary {
	border-color:#01693f;
}
.sign.primary .sign-section {
	background-color:#01693f;
	color:#FFF;
}
.sign.primary .road-name {
	color:#fee54b;
	font-size:13px;
}
.sign.local {
	border:0px;
	background-color:#000;
}
.sign.local .sign-section {
	background-color:#FFF;
}
.sign.attraction {
	border-color:#7d4814;
}
.sign.attraction .sign-section {
	background-color:#7d4814;
	color:#FFF;
}
.sign .subsign {
	border:1px solid #FFF;
	border-radius:3px;
	display:inline-block;
	padding:1px;
}
.sign div.subsign {
	padding:3px;
}
.sign .subsign.motorway {
	color:#FFF;
	background-color:#037ac2;
}
.sign .subsign.attraction {
	color:#FFF;
	background-color:#7d4814;
}
.sign .subsign.primary {
	color:#FFF;
	background-color:#01693f;
}
.sign .subsign.local {
	color:#000;
	background-color:#FFF;
}
.sign .subsign.local .road-name {
	color:#000;
}
.sign .road-name .subsign.primary {
	color:#fee54b;
}
.sign .subsign.junction {
	color:#FFF;
	background-color:#000;
	font-size:12px;
}
.sign .right-symbol {
	float:right;
	font-size:24px;
	margin-left:3px;
}
